.container{
    display: flex;
    flex-direction:row;
    align-content: flex-start;
    margin: 5px ;
}  
.link{
    text-align: center;
    margin-top: 2px;
    font-size: 1.5rem;
    text-decoration: none;
    color: #f1c40f;
    text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black, 0px 0px 4px white;
}