.container {
  display: flex;
  flex-direction: row;
  border: 1px solid black;
  border-radius: 5px;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  background-color: #343458;
  padding: 20px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  min-height: 100vh;
}

.container:hover {
  background-color: #2a2a4c;
}

.home {
  text-align: center;
  margin-top: 10px;
  font-size: 1.5rem;
  color: #f1c40f;
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black, 0px 0px 4px white;
}